<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Sign Up</h1>
    <div>
        <form action="/user" method="post">
            <label for="">Username</label>
            <input type="text" name="name" id="">
            <label for="">Email</label>
            <input type="text" name="email" id="">
            <label for="">Password</label>
            <input type="text" name="password" id="">
            <button type="submit">Sign Up</button>
        </form>
    </div>
</body>
</html>